@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #4a90e2;
  --background-color: #f4f7f9;
  --card-background: #ffffff;
  --text-color: #333;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem; /* Añade un poco de espacio en los bordes */
  box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
}

#converter-container {
  text-align: center;
}

h1 {
  color: var(--primary-color);
  margin-bottom: 2rem;
}

#converter {
  background-color: var(--card-background);
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px var(--shadow-color);
  width: 20rem;
  max-width: 100%; /* Asegura que no se desborde en pantallas muy pequeñas */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-sizing: border-box; /* El padding se incluye en el ancho total */
}

.input-group, .output-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

label {
  font-weight: bold;
  font-size: 0.9rem;
  color: #555;
}

input, select {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  text-align: center;
  width: 80%;
  transition: all 0.3s ease;
}

input:focus, select:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

#output-temp {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 1rem;
}

/* --- Media Query para hacerla Responsiva --- */
/* Se aplicará en pantallas de 600px de ancho o menos */
@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem; /* Reduce el tamaño del título */
  }

  #converter {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 1.5rem; /* Reduce el padding en pantallas pequeñas */
  }

  #output-temp {
    font-size: 2.2rem; /* Reduce el tamaño del resultado */
  }
}